$font-path: "/fonts";
$icon-font-path: "#{$font-path}/";
$fa-font-path: "#{$font-path}";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "../bower_components/font-awesome/fix/font-awesome.scss";
@import "../bower_components/octicons/octicons/sprockets-octicons.scss";
// endbower

// General colors
$white: #ffffff;
$black: #000000;
$primary: $brand-primary;
$gray-ultra-lighter: lighten($black, 97%); // #f7f7f7
$gray-somewhat-lighter: lighten($black, 80%); // #cccccc

// Specific colors
$text-light: lighten($black, 50%); // #808080
$border-light: lighten($black, 85%); // #d9d9d9

// GitHub colors
$github-green: #6cc644;
$github-red:   #d7431b;
$github-gray:  #888888;

// Functions
@function get-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000000; // Lighter background, return dark color
  } @else {
    @return #ffffff; // Darker background, return light color
  }
}

/* Space out content a bit */
html {
  overflow-y: scroll;
}

body {
  padding: 20px 0;
}

.no-top {
  margin-top: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding: 0 15px;
}

/* Custom page header */
.header {
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin: 0;
  line-height: 40px;
  padding-bottom: 10px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: $text-light;
  border-top: 1px solid $border-light;
  line-height: 30px;
}

.footer .left {
  float: left;
  margin-right: 20px;
}

.footer .right {
  float: right;
  margin-left: 20px;
}

/* Links in muted text */
.text-muted a {
  color: $text-muted;
}

.text-muted a:hover {
  text-decoration: none;
  color: darken($text-muted, 20%);
}

.notvisible {
  visibility: hidden;
}

/* Display header */
h1 .mega-octicon {
  padding-top: 3px;
  vertical-align: top;
}

/* Projects */
.projects ul {
  margin-top: 0;
  margin-bottom: 0;
}

.projects .column:last-child {
  margin-bottom: 10px;
}

/* Cross reference */
.cross-reference {
  cursor: pointer;
}

/* Filter */
.filter label,
.filter .control-label {
  font-weight: normal;
  text-align: left;
}

/* Sort */
.sort .left {
  min-height: 70px;
}

@for $i from 1 through 5 {
  $btn-color: darken(lighten($primary, 100%), $i*7%);
  .sort .btn.group#{$i} {
    @include button-variant(get-text-color($btn-color), $btn-color, darken($btn-color, 10%));
  }
}

.sort .field.btn {
  display: block;
  border-radius: 0;
}

.sort .active-field {
  position: relative;
  padding: 3px 0;
}

.sort .active-field .direction,
.sort .active-field .remove {
  position: absolute;
  top: 0;
  right: 0;
  height: 16px;
  width: 16px;
  font-size: 10px;

  i {
    position: relative;
    top: -2px;
    left: -2px;
  }
}

.sort .active-field {
  .remove {
    display: none;
  }
  &:hover .remove {
    display: block;
  }
}

/* Pagination */
.pagination .disabled,
.pagination .disabled:hover {
  cursor: no-drop;
  color: $github-gray;
  text-decoration: none;
}

/* Pull request */
.pull-request {
  position: relative;
  padding: 10px 10px 10px 70px;
  border-top: 1px solid $border-light;
}

.pull-request .left {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  font-size: 18px;
  color: $github-gray;
  text-align: center;
}

.pull-request .right {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 80px;
  text-align: right;
}

.even .pull-request {
  background-color: $gray-ultra-lighter;
}

.pull-request .abs-right {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

/* PR icons */
.pull-request i {
  color: $gray-somewhat-lighter;
}

.pull-request.conflict i.icon {
  background-color: $github-gray;
  color: $white;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 24px;
}

.pull-request.mergeable i.icon {
  color: $github-green;
  font-size: 32px;
}

.pull-request .text-muted i {
  color: inherit;
}

/* PR title */
.pull-request h4 {
  margin: -5px 0;
  padding: 5px 0;
  margin-right: 90px; /* Because pr # */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pull-request .number {
  font-size: 18px;
}

/* PR subtitle */
.pull-request .subtitle {
  position: relative;
  font-size: 0.9em;
}

.pull-request i.core {
  color: $primary;
}

/* PR info */
.pull-request .info {
  position: relative;
  margin-bottom: -10px;
}

.pull-request .info,
.pull-request .info a {
  color: $text-muted;
  text-decoration: none;
}

.pull-request .info a:hover,
.pull-request .info a:hover i {
  color: darken($text-muted, 20%);
}

.pull-request .info a i.red {
  color: $github-red;
}

.pull-request .info a:hover i.red {
  color: darken($github-red, 10%);
}

.pull-request .info svg.peity {
  vertical-align: middle;
}

/* Line addtitions/deletions bar */
.pull-request .line-bar {
  text-align: left;
  height: 16px;
  line-height: 22px;
  font-size: 10px;
}

.pull-request .line-bar i {
  margin: 0 1px;
}

.pull-request .line-bar i.added {
  color: $github-green;
}

.pull-request .line-bar:hover i.added {
  color: darken($github-green, 10%);
}

.pull-request .line-bar i.deleted {
  color: $github-red;
}

.pull-request .line-bar:hover i.deleted {
  color: darken($github-red, 10%);
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Main message and sign up button */
.jumbotron {
  text-align: center;
  border: 1px solid $border-light;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.clear {
  clear: both;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    border-bottom: 1px solid $border-light;
    margin-bottom: 10px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border: 0;
  }
}
