/* Space out content a bit */
html {
  overflow-y: scroll;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.text-muted a {
  color: inherit;
}

.text-muted a:hover {
  text-decoration: none;
}

.cross-reference {
  cursor: pointer;
}

.pull-request {
  position: relative;
  padding: 10px 20px 10px 40px;
  border-bottom: 1px solid #e5e5e5;
}

.pull-request.even {
  background-color: #eeeeee;
}

.pull-request h4 {
  position: relative;
  padding-right: 100px;
}

.pull-request h4 .icon {
  position: absolute;
  top: 0;
  left: -25px;
  font-size: 1.5em;
  color: #999999;
}

.pull-request.mergeable h4 .icon {
  color: #6cc644;
}

.pull-request h4 .text-muted {
  position: absolute;
  top: 0;
  right: 0;
}

.pull-request .source-target {
  font-size: 0.9em;
  margin-left: 2px;
  margin-top: -10px;
}

.pull-request .line-bar {
  position: relative;
  color: green;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  width: 84px;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
}

.pull-request .line-bar .added,
.pull-request .line-bar .deleted {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

.pull-request .line-bar .added {
  color: #6cc644;
}

.pull-request .line-bar .deleted {
  color: #d7431b;
}

.pull-request .line-bar i {
  margin: 0 1px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
