/* Space out content a bit */
html {
  overflow-y: scroll;
}

body {
  padding: 20px 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding: 0 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Links in muted text */
.text-muted a {
  color: inherit;
}

.text-muted a:hover {
  text-decoration: none;
}

.notvisible {
  visibility: hidden;
}

/* Cross reference */
.cross-reference {
  cursor: pointer;
}

/* Sort table */
table.sort th span {
  float: right;
  cursor: pointer;
}

table.sort th span:hover {
  background-color: #999;
}

table.sort td {
  cursor: pointer;
}

table.sort td.selected {
  background: #eeeeee;
}

table.sort td:hover {
  background: #d9edf7;
}

/* Pull request */
.pull-request {
  position: relative;
  padding: 10px 10px 10px 70px;
  border-top: 1px solid #e5e5e5;
}

.pull-request .left {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  font-size: 18px;
  color: #999999;
  text-align: center;
}

.pull-request .left .conflict {
  color: #d7431b;
  right: 0;
  top: 20%;
  left: auto !important;
  width: auto !important;
}

.pull-request .right {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 80px;
  text-align: right;
}

.pull-request.mergeable .icon {
  color: #6cc644;
}

.pull-request .calendar {
  margin-top: 10px;
  position: relative;
  font-size: 10px;
}

.pull-request .calendar i {
  font-size: 30px;
}

.pull-request .calendar .day {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 15px;
}

.pull-request.even {
  background-color: #eeeeee;
}

.pull-request h4 {
  margin: -5px 0;
  padding: 5px 0;
  margin-right: 90px; /* Because pr # */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pull-request svg.peity {
  vertical-align: middle;
}

.pull-request .number {
  font-size: 18px;
}

.pull-request .source-target {
  position: relative;
  font-size: 0.9em;
}

.pull-request .source-target .ago {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.pull-request .info {
  position: relative;
  margin-bottom: -10px;
}

.pull-request .size {
  position: absolute;
  top: 0;
  right: 0;
}

.pull-request .source-target i,
.pull-request .info i {
  color: #cccccc;
}


.pull-request i.core {
  color: #428bca;
}

.pull-request .info,
.pull-request .info a {
  color: #999999;
  text-decoration: none;
}

.pull-request .info a:hover,
.pull-request .info a:hover i {
  color: #333333;
}

.pull-request .info a i.red {
  color: #f9a18a;
}

.pull-request .info a:hover i.red {
  color: #d7431b;
}

.pull-request span.line-bar,
.pull-request .line-bar span {
  display: inline-block;
}

.pull-request .line-bar {
  text-align: left;
  height: 16px;
  line-height: 22px;
  font-size: 10px;
}

.pull-request .line-bar i.added {
  color: #6cc644;
}

.pull-request .line-bar i.deleted {
  color: #d7431b;
}

.pull-request .line-bar i {
  margin: 0 1px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
