$font-path: "/fonts";
$icon-font-path: "#{$font-path}/";
$fa-font-path: "#{$font-path}";

// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "../bower_components/font-awesome/fix/font-awesome.scss";
@import "../bower_components/octicons/octicons/sprockets-octicons.scss";
// endbower

// General colors
$white: #ffffff;
$black: #000000;
$primary: $brand-primary;
$gray-ultra-lighter: lighten($black, 97%); // #f7f7f7
$gray-somewhat-lighter: lighten($black, 80%); // #cccccc

// Specific colors
$text-light: lighten($black, 50%); // #808080
$border-light: lighten($black, 85%); // #d9d9d9
$important: lighten($brand-info, 37%);

// GitHub colors
$github-green: #6cc644;
$github-red:   #d7431b;
$github-gray:  #888888;

// Functions
@function get-text-color($color) {
  @if (lightness($color) > 50) {
    @return $black; // Lighter background, return dark color
  } @else {
    @return $white; // Darker background, return light color
  }
}

/* Space out content a bit */
html {
  overflow-y: scroll;
}

body {
  padding: 20px 0;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin: 0;
  line-height: 40px;
  padding-bottom: 10px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: $text-light;
  border-top: 1px solid $border-light;
  line-height: 30px;
}

.footer .left {
  float: left;
  margin-right: 20px;
}

.footer .right {
  float: right;
  margin-left: 20px;
}

/* Links in muted text */
.text-muted a,
a.text-muted {
  color: $text-muted;
}

.text-muted a:hover,
a.text-muted:hover {
  text-decoration: none;
  color: darken($text-muted, 20%);
}

.notvisible {
  visibility: hidden;
}

/* Display header */
h1 .mega-octicon {
  padding-top: 3px;
  vertical-align: top;
}

/* Projects */
.projects ul {
  margin: 0;
  padding: 0 0 0 10px;
  list-style-position: inside;
}

.projects ul li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projects .column:last-child {
  margin-bottom: 10px;
}

/* Cross reference */
.cross-reference {
  cursor: pointer;
}

/* Filter */
.filter .dropdown-link {
  padding-left: 25px;
  position: relative;
}

.filter .dropdown-link .octicon {
  position: absolute;
  top: 5px;
  left: 7px;
  height: 100%;
}

.btn-filter-active {
  @include button-variant($btn-default-color, darken($btn-default-bg, 5%), $btn-default-border);
}

/* Pagination */
.pagination.top {
  margin-top: 0;
}

.pagination .disabled,
.pagination .disabled:hover {
  cursor: no-drop;
  color: $github-gray;
  text-decoration: none;
}

/* Pull request */
.pull-request {
  position: relative;
  padding: 10px 10px 10px 70px;
  border-top: 1px solid $border-light;
}

.pull-request .left {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 50px;
  color: $github-gray;
  text-align: center;
}

.pull-request .right {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 100px;
  text-align: right;
}

.even .pull-request {
  background-color: $gray-ultra-lighter;
}

/* PR icons */
.pull-request i {
  color: $gray-somewhat-lighter;
}

i.conflict {
  background-color: $github-gray;
  color: $white;
  padding: 5px 7px;
  border-radius: 5px;
  font-size: 22px;
}

i.mergeable {
  color: $github-green;
  font-size: 32px;
}

i.important {
  color: $brand-primary;
  /* transform: rotate(-45deg); */
}

.pull-request .text-muted i {
  color: inherit;
}

/* PR title */
.pull-request h4 {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: $font-size-h4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pull-request h4 a {
  color: lighten($black, 20%);
  text-decoration: none;

  &:hover {
    color: $black;
  }
}

.pull-request .subtitle,
.pull-request h4 {
  margin-right: 110px; /* Because pr number */
}

.pull-request .number {
  display: block;
  margin: 0 0 5px 0;
  padding: 0;
  font-size: $font-size-h4;
}

.pull-request .subtitle,
.pull-request .ago,
.pull-request .info {
  font-size: floor($font-size-base * 0.95);
}

.pull-request .subtitle,
.pull-request .ago {
  margin: 0;
}

.pull-request i.core {
  color: $primary;
}

.pull-request .avatar {
  height: 16px;
  width: 16px;
  margin-top: 1px;
  vertical-align: top;
  border-radius: 2px;
}

.label-default-light {
  @include label-variant(lighten($black, 95%));
  color: $text-light;
  border: 1px solid $border-light;
  letter-spacing: 1px;
  font-weight: normal;
}

/* PR info */
.pull-request .info {
  position: relative;
  margin-top: 10px;
  overflow: hidden;
  -webkit-transition: 250ms cubic-bezier(0.215, 0.610, 0.355, 1.000) all;
  -moz-transition: 250ms cubic-bezier(0.215, 0.610, 0.355, 1.000) all;
  -ms-transition: 250ms cubic-bezier(0.215, 0.610, 0.355, 1.000) all;
  -o-transition: 250ms cubic-bezier(0.215, 0.610, 0.355, 1.000) all;
  transition: 250ms cubic-bezier(0.215, 0.610, 0.355, 1.000) all;
}

.pull-request .info.ng-enter { opacity: 0; }
.pull-request .info.ng-enter.ng-enter-active { opacity: 1; }
.pull-request .info.ng-leave { opacity: 1; }
.pull-request .info.ng-leave.ng-leave-active { opacity: 0; }

.pull-request .info .info-title {
  font-weight: bold;
}

.pull-request .info,
.pull-request .info a {
  color: $text-muted;
  text-decoration: none;
}

.pull-request .info a:hover,
.pull-request .info a:hover i {
  color: darken($text-muted, 20%);
}

.pull-request .info i {
  width: 16px;
}

.pull-request i.red {
  color: $github-red;
}

.pull-request a:hover i.red {
  color: darken($github-red, 10%);
}

.pull-request i.green {
  color: $github-green;
}

.pull-request a:hover i.green {
  color: darken($github-green, 10%);
}

.pull-request .info svg.peity {
  vertical-align: middle;
}

/* Line addtitions/deletions bar */
.pull-request .line-bar {
  text-align: left;
  height: 16px;
  line-height: 22px;
  font-size: 10px;
}

.pull-request .line-bar i {
  margin: 0 1px;
}

.pull-request i.added {
  color: $github-green;
}

.pull-request .line-bar:hover i.added {
  color: darken($github-green, 10%);
}

.pull-request i.deleted {
  color: $github-red;
}

.pull-request .line-bar:hover i.deleted {
  color: darken($github-red, 10%);
}

.pull-request .feedback {
  font-size: 80%;
  position: absolute;
  top: 0;
  right: 100%;
  width: 170px;
  height: 100%;
  padding: 0 10px;
  text-align: right;
  display: none;
}

.pull-request:hover .feedback {
  display: block;
}

.pull-request .feedback .answer {
  margin-top: -10px;
}

.pull-request .feedback .thanks {
  display: none;
}

/* Help */
.pull-request.help {
  padding: 0;
  border: 0;
  font-size: 90%;
}

.pull-request.help ul,
.pull-request.help ul li {
  list-style: none;
  padding: 0;
  border: 0;
}

.pull-request.help table tr td:first-child {
  padding: 8px;
  text-align: center;
}

.pull-request.help table tr td:last-child {
  vertical-align: middle;
}

/* Main message and sign up button */
.jumbotron {
  text-align: center;
  border: 1px solid $border-light;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.clear {
  clear: both;
}

.nowrap {
  white-space: nowrap;
}

.spinner {
  text-align: center;
  margin: 30px;
}

// Extra small grid
@media (max-width: $screen-sm-min) {
  h1 {
    font-size: floor($font-size-h1 * 0.75);
  }
  h2 {
    font-size: floor($font-size-h2 * 0.75);
  }
  h3 {
    font-size: floor($font-size-h3 * 0.75);
  }
  h4,
  .pull-request .number {
    font-weight: bold;
    font-size: floor($font-size-h4 * 0.75);
  }
  .pull-request .subtitle,
  .pull-request h4 {
    margin-right: 70px;
  }
  .pr-list {
    margin-left: -($grid-gutter-width / 2);
    margin-right: -($grid-gutter-width / 2);
  }
  .pull-request {
    padding-left: 50px;
  }
  .pull-request .left {
    width: 30px;
  }
  .filter .btn-group {
    margin-bottom: 10px;
  }
}

// Small grid
@media (min-width: $screen-sm-min) {
  .container {
    max-width: 730px;
  }
  /* Space out the masthead */
  .header {
    border-bottom: 1px solid $border-light;
    margin-bottom: 10px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border: 0;
  }
}

@media(max-width: 1023px) {
  .pull-request .feedback,
  .pull-request:hover .feedback {
    display: none !important;
  }
}
