<div class="row">
  <div class="col-md-12" ng-show="pullRequests.length > 0">
    <h1>
      <i class="mega-octicon octicon-mark-github"></i>
      <a ng-href="{{host}}/{{owner}}" title="View this repository on GitHub" target="_blank">{{owner}}</a>
      /
      <strong><a ng-href="{{github}}" title="View this repository on GitHub" target="_blank">{{repository}}</a></strong>
      <small class="text-muted" title="{{snapshot | date:'EEEE d MMMM yyyy @ HH:mm'}}">({{snapshot | date:'d MMM yyyy'}})</small>
    </h1>
    <p>Filter on:
      <span ng-repeat="branch in branches">
        <button type="button" class="btn" ng-class="branchClass(branch, 'btn-')" ng-click="setFilter('target', branch)">{{branch}}</button>
        {{$last ? '' : ' '}}
      </span>
    </p>
    <div ng-include="'views/sort.html'"></div>
    <h3>Pull requests <small class="text-muted">({{page*perPage+1}}-{{page*perPage+perPage}} of {{filteredPullRequests.length}})</small></h3>
    <div class="pagination">
      <a ng-class="{disabled: !hasPreviousPage()}" href ng-click="previousPage()">&larr; Previous</a> &ndash;
      <a ng-class="{disabled: !hasNextPage()}" href ng-click="nextPage()">Next &rarr;</a>
    </div>
    <div>
      <angular-pr pull-request="pr" ng-repeat="pr in filteredPullRequests | orderBy:getSortKeys() | limitToFrom:page*perPage:perPage" ng-class-even="'even'" ng-class-odd="'odd'">
      </angular-pr>
    </div>
    <div class="pagination">
      <a ng-class="{disabled: !hasPreviousPage()}" href ng-click="previousPage()">&larr; Previous</a> &ndash;
      <a ng-class="{disabled: !hasNextPage()}" href ng-click="nextPage()">Next &rarr;</a>
    </div>
  </div>
  <div class="col-md-12" ng-show="!pullRequests.length">
    <h3>No data</h3>
    <p>
      There is no data available yet. First, select a file on the <a ng-href="#read">previous page</a>.
    </p>
  </div>
</div>
