<div class="row">
  <div class="col-sm-12">
    <h1>Prioritize your pull requests</h1>
    <p>The past few months we did research on the prioritization of pull requests.
    As a result of the study this (initial) prioritization service was developed.
    You are invited to test our service on your repository.
    To improve our algorithms you can send us pull request based feedback.
    Place your mouse on a pull request to see the feedback options. Thank you!</p>
    <p><em>Select a project to start.</em></p>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3>Find project</h3>
    <p>
      Use the search box below to find a project that has prioritization enabled.
    </p>
    <div class="row">
      <div class="col-sm-6">
        <form role="form" ng-submit="openProject()">
          <div class="form-group">
            <input type="text" ng-model="searchText" class="form-control" placeholder="Enter project name" value="" autofocus>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<h4>Projects <small>({{filteredRepos.length}})</small></h4>
<div class="row projects">
  <div class="column col-sm-4" ng-repeat="i in [0,1,2]">
    <ul>
      <li ng-repeat="repo in filteredRepos | orderBy:['owner','repo'] | limitToFrom:i*perColumn:perColumn"><a href="#display/{{::repo.owner}}/{{::repo.repo}}" title="{{::repo.owner}}/{{::repo.repo}}">{{::repo.owner}}/{{::repo.repo}}</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3>My project is not listed</h3>
    <p>
      Please contact us via the feedback form you received by email if your project is not listed. Currently only public repositories are supported.
    </p>
  </div>
</div>
