<h4>
  Filter on
</h4>
<div class="row">
  <div class="col-sm-6">
    <form class="form-horizontal filter" role="form">
      <div class="form-group">
        <label class="col-sm-3"><small>Target branch</small></label>
        <div class="col-sm-9 btn-group">
          <button ng-repeat="branch in branches" type="button" class="btn btn-xs" ng-class="branchClass(branch, 'btn-')" ng-click="setFilter('target', branch)">{{branch}}</button>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3"><small>Mergable</small></label>
        <div class="col-sm-9 btn-group">
          <button type="button" class="btn btn-xs btn-default" ng-click="removeFilter('isMergeable')">All</button>
          <button type="button" class="btn btn-xs btn-default"
          ng-class="{'btn-success': getFilter('isMergeable') === true}"
          ng-click="setFilter('isMergeable', true)">Mergeable</button>
          <button type="button" class="btn btn-xs btn-default"
          ng-class="{'btn-danger': getFilter('isMergeable') === false}"
          ng-click="setFilter('isMergeable', false)">Conflicted</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-6">
    <form class="form-horizontal filter" role="form">
      <div class="form-group">
        <label class="col-sm-3"><small>Author</small></label>
        <div class="col-sm-9 btn-group">
          <button type="button" class="btn btn-xs btn-default" ng-click="removeFilter('coreMember')">All</button>
          <button type="button" class="btn btn-xs btn-default"
          ng-class="{'btn-success': getFilter('coreMember') === true}"
          ng-click="setFilter('coreMember', true)">Core member</button>
          <button type="button" class="btn btn-xs btn-default"
          ng-class="{'btn-danger': getFilter('coreMember') === false}"
          ng-click="setFilter('coreMember', false)">Non-member</button>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3"><small>Importance</small></label>
        <div class="col-sm-9 btn-group">
          <button type="button" class="btn btn-xs btn-default" ng-click="removeFilter('important')">All</button>
          <button type="button" class="btn btn-xs btn-default"
          ng-class="{'btn-success': getFilter('important') === true}"
          ng-click="setFilter('important', true)">Important</button>
          <button type="button" class="btn btn-xs btn-default"
          ng-class="{'btn-danger': getFilter('important') === false}"
          ng-click="setFilter('important', false)">Not important</button>
        </div>
      </div>
    </form>
  </div>
</div>
