<h4>Filter <small class="text-muted" ng-click="resetFilter(); resetSort()" ng-if="hasFilter() || hasSort()"><a href>(reset)</a></small></h4>
<div class="row filter">
  <div class="col-sm-12 btn-group" role="toolbar">
    <div class="btn-group">
      <button type="button" class="btn btn-filter-active dropdown-toggle" data-toggle="dropdown">
        Branch <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="branch in branches">
          <a href class="dropdown-link" ng-click="setFilter('target', branch)">
            <span class="octicon octicon-check" ng-if="getFilter('target') === branch"></span>
            {{branch}}
          </a>
        </li>
      </ul>
    </div>
    <div class="btn-group" ng-repeat="filter in filterFields">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-class="{'btn-filter-active' : hasFilter(filter.key)}">
        {{filter.name}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a href class="dropdown-link" ng-click="removeFilter(filter.key)">
            <span class="octicon octicon-x text-muted"></span>
            Clear
          </a>
        </li>
        <li ng-repeat="value in filter.values">
          <a href class="dropdown-link" ng-click="toggleFilter(filter.key, value.value)">
            <span class="octicon octicon-check" ng-if="getFilter(filter.key) === value.value"></span>
            {{value.name}}
          </a>
        </li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-class="{'btn-filter-active' : hasSort()}">
        Sort <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a href class="dropdown-link" ng-click="resetSort()">
            <span class="octicon octicon-x text-muted"></span>
            Clear
          </a>
        </li>
        <li ng-repeat-start="field in sortFields">
          <a href class="dropdown-link" ng-click="toggleSort(field, '-')">
            <span class="octicon octicon-check" ng-if="hasSort(field, '-')"></span>
            {{field.desc}}
            <span ng-if="hasSort(field, '-')">({{getSort(field)+1}})</span>
          </a>
        </li>
        <li ng-repeat-end>
          <a href class="dropdown-link" ng-click="toggleSort(field, '+')">
            <span class="octicon octicon-check" ng-if="hasSort(field, '+')"></span>
            {{field.asc}}
            <span ng-if="hasSort(field, '+')">({{getSort(field)+1}})</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
