<div class="help pull-request">
  <table class="table">
    <thead>
      <th>Icon</th>
      <th>Description</th>
    </thead>
    <tr>
      <td>
        <i class="mega-octicon octicon-git-pull-request mergeable"></i>
      </td>
      <td>
        <strong>Mergable.</strong> The pull request can be merged directly.
      </td>
    </tr>
    <tr>
      <td>
        <i class="mega-octicon octicon-git-pull-request conflict"></i>
      </td>
      <td>
        <strong>Conflicted.</strong> The pull request cannot be merged without resolving conflicts.
      </td>
    </tr>
    <tr>
      <td>
        <i class="mega-octicon octicon-zap important"></i>
      </td>
      <td>
        <strong>Importance indicator.</strong> Based on previous actions on past pull requests, a prediction is made whether the pull request requires action. This icon is only visible on the pull requests with the highest chance of requiring an action. The maximum number of pull requests with this icon is <em>five</em>.
      </td>
    </tr>
    <tr>
      <td>
        <i class="fa fa-2x fa-user core"></i>
      </td>
      <td>
        <strong>Project member.</strong> The user that created the pull request is a project member.
      </td>
    </tr>
    <tr>
      <td>
        <i class="fa fa-2x fa-user"></i>
      </td>
      <td>
        <strong>Non-member.</strong> The user that created the pull request is not a project member.
      </td>
    </tr>
    <tr>
      <td>
        <i class="mega-octicon octicon-history">
      </td>
      <td>
        <strong>Contributed.</strong> The percentage next to this icon shows the fraction of commits in the project that are already authored by requester. This can indicate how involved the requester is.
      </td>
    </tr>
    <tr>
      <td>
        <i class="mega-octicon octicon-git-merge">
      </td>
      <td>
        <strong>Accept ratio.</strong> The percentage next to this icon shows the fraction of pull requests created by the requester that are accepted. This can give an indication of the reliability of the requester.
      </td>
    </tr>
    <tr>
      <td>
        <i class="fa fa-2x fa-warning red"></i>
      </td>
      <td>
        <strong>Pairwise conflicts.</strong> The number next to this icon shows the amount of conflicts between the pull request and other pull requests targeting the <em>same</em> branch. Knowing this, you can decide to merge heavily conflicted pull request at a later stage to concentrate multiple conflicts in one merge action.
      </td>
    </tr>
    <tr>
      <td>
        <i class="mega-octicon octicon-comment-discussion"></i>
      </td>
      <td>
        <strong>Comments.</strong> The number next to this icon shows the (estimated) sum of review and issue comments.
      </td>
    </tr>
    <tr>
      <td>
        <i class="mega-octicon octicon-diff"></i>
      </td>
      <td>
        <strong>Files changed.</strong> The number next to this icon shows the number of changed files in the pull request.
      </td>
    </tr>
    <tr>
      <td>
        <i class="mega-octicon octicon-git-commit"></i>
      </td>
      <td>
        <strong>Commits.</strong> The number next to this icon shows the number of commits in the pull request.
      </td>
    </tr>
    <tr>
      <td>
        <i class="fa fa-square added"></i>&nbsp;<i class="fa fa-square deleted"></i>
      </td>
      <td>
        <strong>Code churn.</strong> These icons show the proportion of lines added (green) and deleted (red).
      </td>
    </tr>
  </table>
</div>
