<div id="pr{{pr.number}}" class="pull-request" ng-class="{mergeable: pr.isMergeable, conflict: !pr.isMergeable, important: pr.important}">
    <div class="left">
      <i class="icon mega-octicon octicon-git-pull-request" ng-attr-title="{{pr.isMergeable ? 'Can' : 'Cannot'}} be merged directly"></i>
      <i class="important octicon octicon-zap" ng-if="pr.important >= importantThreshold" title="This pull request is marked as important based on actions on past pull requests."></i>
    </div>
    <div class="right">
      <a class="number text-muted" ng-href="{{github}}/pull/{{pr.number}}" title="View this pull request on GitHub" target="_blank">
        <i class="octicon octicon-mark-github"></i>&nbsp;#{{pr.number}}
      </a>
      <p class="ago" title="{{pr.createdAt | date:'EEEE d MMMM yyyy @ HH:mm'}}" am-time-ago="pr.timestamp"></p>
    </div>
    <h4 title="{{pr.title}}">{{pr.title}}</h4>
    <p class="subtitle">
      <img class="avatar" title="{{pr.author}}" ng-src="{{pr.avatar}}" />
      <i class="fa fa-user" ng-class="{core: pr.coreMember}" ng-attr-title="{{pr.coreMember ? 'Core member' : 'Contributor'}}"></i>
      <a ng-href="{{host}}/{{pr.author}}" target="_blank">{{pr.author}}</a>
      wants to merge
      <span class="label label-default" ng-attr-title="{{pr.source}}">{{pr.source | limitTo: 42}}{{pr.source.length > 42 ? '...' : ''}}</span>
      into
      <span class="label" ng-class="branchClass(pr.target, 'label-')">{{pr.target}}</span>
    </p>
    <div class="info row">
      <div class="col-sm-6 author">
        <a ng-href="{{github}}/commits?author={{pr.author}}" class="nowrap" target="_blank" title="{{pr.contributedCommits}} commits">
          <pie-chart data="getPart(pr.contributedCommits/commits, 12) + '/12'"></pie-chart>&nbsp;contributed
        </a>
        <a ng-href="{{github}}/pulls?q=is:pr+author:{{pr.author}}" class="nowrap" target="_blank" title="{{pr.totalPullRequests}} requests and {{pr.acceptedPullRequests}} accepted">
          <pie-chart data="getPart(pr.ratioPullRequests, 12) + '/12'"></pie-chart>&nbsp;accepted
        </a>
        <a href ng-click="showConflicts(pr)" class="nowrap" target="_blank" title="{{pr.numConflicts}} conflicts with other pull requests">
          <i class="fa fa-warning" ng-class="{red: pr.numConflicts > 0}"></i>&nbsp;{{pr.numConflicts}}&nbsp;conflicts
        </a>
      </div>
      <div class="col-sm-6 size">
        <a ng-href="{{github}}/pull/{{pr.number}}" class="nowrap" target="_blank">
          <i class="octicon octicon-comment-discussion"></i>&nbsp;{{pr.allComments}}
        </a>
        <a ng-href="{{github}}/pull/{{pr.number}}/files" class="nowrap" target="_blank">
          <i class="fa fa-align-left"></i>&nbsp;{{pr.lines}}
        </a>
        <a ng-href="{{github}}/pull/{{pr.number}}/files" class="nowrap" target="_blank">
          <i class="octicon octicon-diff"></i>&nbsp;{{pr.filesChanged}}
        </a>
        <a ng-href="{{github}}/pull/{{pr.number}}/commits" class="nowrap" target="_blank">
          <i class="octicon octicon-history"></i>&nbsp;{{pr.commits}}
        </a>
        <a ng-href="{{github}}/pull/{{pr.number}}/files" target="_blank" class="line-bar" title="{{pr.linesAdded}} additions and {{pr.linesDeleted}} deletions">
          <i class="fa fa-square" ng-repeat="i in [1,2,3,4,5,6]" ng-class="{added: i <= getPart(pr.ratioAdded, 6), deleted: i > getPart(pr.ratioAdded, 6)}"></i>
        </a>
      </div>
      <div class="col-xs-12 conflicts" ng-if="showConflictsOf == pr.number">
        <span ng-repeat="n in pr.conflictsWith">
          <span class="label label-default cross-reference" ng-click="scrollTo('pr' + n)">#{{n}}</span>{{$last ? '' : ' '}}
        </span>
      </div>
    </div>
  </div>
</div>
