<div class="jumbotron">
  <p class="lead">
    Prioritize your pull requests.
  </p>
  <p ng-show="fileApiSupport">
    <a class="btn btn-lg btn-success" ng-click="selectFile()">
      Select input file <span class="glyphicon glyphicon-list-alt"></span>
    </a>
    <input id="selectedFile" name="selectedFile" type="file" style="display:none" ng-file-select="onFileSelect($files)" />
  </p>
  <p ng-show="!fileApiSupport">
    Your browser does not support the <a href="http://caniuse.com/fileapi" target="_blank">File API</a>.<br>
    Please use a <a href="https://www.google.com/chrome" target="_blank">modern browser</a>.
  </p>
  <p>
    {{message || "Select a JSON file to start."}}
  </p>
</div>

<div class="row">
  <h4>How do I get an input file?</h4>
  <p>
    Generate your input file with the analyzer. More text here...
  </p>
</div>
