<h4>
  Order by
  <span ng-show="activeSortFields.length > 0" class="small text-muted"><a href ng-click="resetSort()">(clear)</a></span>
</h4>
<div class="row sort">
  <div class="col-sm-6 small left">
    <div ng-show="!selectedSortField">
      <button ng-repeat="field in sortFields" type="button" ng-class="field.class" class="btn btn-xs col-sm-4" ng-click="sort(field)">{{field.name}}</button>
    </div>
  </div>
  <div class="col-sm-6 small right">
    <div class="row">
      <div class="col-sm-4" ng-repeat="i in [0,1,2]">
        <div class="active-field" ng-repeat="field in activeSortFields | limitToFrom:i*3:3">
          <span ng-attr-title="{{field.direction === '+' ? field.plus : field.min}}">
            {{activeSortFields.indexOf(field)+1}}. {{field.name}}
          </span>
          <div class="direction label label-default">
            <i class="fa fa-arrow-up" ng-show="field.direction === '+'"></i>
            <i class="fa fa-arrow-down" ng-show="field.direction === '-'"></i>
          </div>
          <div class="remove label label-danger" ng-click="removeSort(field)">
            <i class="fa fa-times"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
